* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(242, 240, 237);
}


.container {
    max-width: 1250px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

header {
    padding: 10px 0;
    z-index: 9999;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header nav,
nav div {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    padding-left: 50px;
}

header nav ul li {
    cursor: pointer;
    padding: 30px 15px;
}

header nav ul li:hover {
    color: #2f4cdd;
}

header nav {
    justify-content: space-between;
}

#contact {
    gap: 40px
}

#contact button {
    padding: 20px 25px;
    color: white;
    background-color: #2f4cdd;
    border: none;
    border-radius: 6px;
    font-weight: 600;
}

.headerListItem {
    position: relative;
}

#shopLists {
    display: flex;
    flex-direction: column;
    z-index: 1;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 80px;
    transform: translateY(35px);
    background-color: white;
    padding: 10px 5px;
    border-radius: 5px;
    width: 220px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
    transition: all 0.5s linear;
}

#shopLists li {
    color: black;
    padding: 10px;
}

#shopListItem:hover #shopLists {
    opacity: 1;
    transform: translateY(0);
}

#hero {
    margin-top: 200px;
}

.swiper {
    width: 100%;
    height: 80vh;
}


.swiper-slide {
    text-align: start;
    font-size: 18px;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide p {
    color: #2f4cdd;
}

.swiper-slide h2 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 45px;
}


.swiper-slide button {
    padding: 12px 25px;
    background-color: #2f4cdd;
    color: white;
    border: none;
    border-radius: 5px;
}
.mainshow{
    /* position: relative; */
    display: flex;
    width: 500px;
    justify-content: center;
    height: 150px;
    align-items: center;
    transform: translateY(-100px);
    gap: 20px;
    margin-left: 150px;
}
.mainshow img{
    height: 80px;
    border-radius: 12px;
    margin-right: 20px;
    
}
.mainshow1{
    /* position: absolute; */
    display: flex;
    background-color: rgba(47, 76, 221, 0.1);
    align-items: center;
    border-radius: 12px;
    min-width: 300px;
    height: 130px;
    justify-content: center;
    align-items: center;

    
}
.mainshow1text{
    width: 150px;
    line-height: 20px;
}
.mainshow1text p{
    padding-bottom: 12px;
}
.iconshow{
    padding-bottom: 12px;
}
.mainshow2{
    /* position: absolute; */
    display: flex;
    /* transform: translateX(calc(100% + 30px)); */
}
.swiper-item-text {
    max-width: 50%;
}
.swiper-item-img img{
    max-height: 400px;
    border: 30px solid #2f4cdd ;
    border-radius: 50%;
    position: relative;
    -ms-transform: translateX(-500px);
}
.mgsmoll1 img{
    position: absolute;
    display: flex;
    height: 100px ;
    border: 15px solid white;
    transform: translate(310px,-450px);
}
.mgsmoll2 img{
    position: absolute;
    display: flex;
    height: 100px ;
    border: 15px solid white;
    transform: translate(400px,-300px);
}
.mgsmoll3 img{
    position: absolute;
    display: flex;
    height: 100px ;
    border: 15px solid white;
    transform: translate(375px,-130px);
}
.mgsmoll4 img{
    position: absolute;
    display: flex;
    height: 100px ;
    border: 15px solid white;
    transform: translate(250px,-20px);
}
.mgsmoll5 img{
    position: absolute;
    display: flex;
    height: 100px ;
    border: 15px solid white;
    transform: translate(80px,-10px);
}
.mgsmoll6 img{
    position: absolute;
    display: flex;
    height: 100px ;
    border: 15px solid white;
    transform: translate(-50px,-85px);
}



#hero {
    position: relative !important;
}

.swiper-pagination-bullet{
    opacity: .5 !important;
    background: none !important;
}

.swiper-pagination-bullet-active{
    opacity: 1 !important;
}

.swiper-pagination {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: auto;
    position: absolute !important;
    top: 20% !important;
    transform: translateY(-50%);
    left: 20px !important;
}

.swiper-pagination span {
    text-align: center;
    opacity: 1;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2f4cdd;
}